CLASS EXERCISE

In [6]:
Num=1
while Num<5:
    print("I must make it to heaven")
    Num=Num+1

I must make it to heaven
I must make it to heaven
I must make it to heaven
I must make it to heaven

In [7]:
Num=5
while Num<5:
    print("I must make it to heaven")
    Num=Num+1

In [1]:
Keepgoing="y"
while Keepgoing=="y":
    Sales=int(input("Enter no of sales:"))
    C_rate=int(input("Enter no of commission rate:"))
    Commission=C_rate*Sales
    print("Your Commission rate is",Commission)
    Keepgoing=input("Do you want to calculate another commission? enter y or n:")

Enter no of sales:25
Enter no of commission rate:56
Your Commission rate is 1400
Do you want to calculate another commission? enter y or n:y
Enter no of sales:12
Enter no of commission rate:45
Your Commission rate is 540
Do you want to calculate another commission? enter y or n:n

# THE FOR LOOP

In [9]:
print("These are the Fathers of faith:",end="")
for name in ["Haggins","Copeland","Adeboye","Oyedepo"]:
    print(name,end=",")

These are the Fathers of faith:Haggins,Copeland,Adeboye,Oyedepo,

In [13]:
print("These are the Fathers of faith:"," ")
for name in ["Haggins","Copeland","Adeboye","Oyedepo"]:
    print(name)

These are the Fathers of faith:
Haggins
Copeland
Adeboye
Oyedepo

In [14]:
print("These are the Fathers of faith:"," ")
for name in ["Haggins","Copeland","Adeboye","Oyedepo"]:
    print("I can make it")

These are the Fathers of faith:
I can make it
I can make it
I can make it
I can make it

In [15]:
for item in range(7):
    print(item)

0
1
2
3
4
5
6

In [25]:
print("This is the multiplication table:","")
for table in range(1,13):
    print("2 *",table,"=",table*2)

This is the multiplication table:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24

In [27]:
print("Even numbers between 1 and 100:")
for no in range(2,101,2):
    print(no)

Even numbers between 1 and 100:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [8]:
print("prime numbers between 0 and 1000:")
first=1
last=100
for num in range(first,last):
    if num>1:
        for i in range(2,num):
            if (num%i)==0:
                break
        else:
            print(num,end=" ")

prime numbers between 0 and 1000:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [50]:
#Print the table headings.
print("Number\tSquare")
print("--------------")
for number in range(1,11):
    square=number**2
    print(number,"\t",square)

Number	Square
--------------
1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100