In [2]:
original_price=int(input("Please enter the original price for the product: "))
discount = original_price * 0.2
sale_price = original_price - discount
print("The sale price is ",sale_price)

Please enter the original price for the product: 2500
The sale price is  2000.0

In [3]:
first_score = int(input("Enter your first score: "))
second_score = int(input("Enter your second score: "))
third_score = int(input("Enter your third score: "))
average = (first_score + second_score + third_score) // 3
print("Your average score is ",average)

Enter your first score: 23
Enter your second score: 12
Enter your third score: 12
Your average score is  15

In [1]:
future_value = int(input("Enter your expected future value: "))
rate = int(input("Enter your interest rate: "))
num = int(input("Enter your number of years: "))
pres_val = future_value/(1+rate)**num
print("You are expected to deposit ", pres_val)

Enter your expected future value: 1200000
Enter your interest rate: 2
Enter your number of years: 3
You are expected to deposit  44444.444444444445

In [2]:
age = int(input("Enter your age: "))
print(age)

Enter your age: 23
23

In [3]:
color = input("Enter your color: ")
print(color)

Enter your color: Blue
Blue

In [1]:
print("FILL IN YOUR DETAILS")
name = input("Enter your name: ")
print("ADDRESS")
address= input("Enter your address: ")
city = input("Your city: ")
state = input("Your state: ")
zipnum = int(input("Your ZIP number: "))
tel_num= int(input("Your number: "))
col_maj= input("Your college major: ")
print("YOUR DETAILS ARE ")
print(name)
print(address,city,state,zipnum)
print(tel_num)
print(col_maj)

FILL IN YOUR DETAILS
Enter your name: Keyamo Anthonia
ADDRESS
Enter your address: No 1 Chukwudi street Asaba
Your city: Asaba
Your state: Delta State
Your ZIP number: 2340102
Your number: 09126438787
Your college major: Computer Science
YOUR DETAILS ARE
Keyamo Anthonia
No 1 Chukwudi street Asaba  Asaba Delta State 2340102
9126438787
Computer Science

In [1]:
mass = float(input("Enter mass in pounds : "))
kilo = mass * 0.454
print("Your mass in kilograms is ",kilo)

Enter mass in pounds : 23.4
Your mass in kilograms is  10.6236

In [3]:
p1 = float(input("Enter price :"))
p2 = float(input("Enter price :"))
p3 = float(input("Enter price :"))
p4 = float(input("Enter price :"))
p5 = float(input("Enter price :"))
stotal = p1+p2+p3+p4+p5
stax = stotal * 0.7
t_total = stotal + stax
print("Your total price is ",stotal)
print("Your sales tax is ",stax)
print("Your final total is ",t_total)

Enter price :23.45
Enter price :34.54
Enter price :2.10
Enter price :19.87
Enter price :76.50
Your total price is  156.45999999999998
Your sales tax is  109.52199999999998
Your final total is  265.98199999999997

In [2]:
hours = int(input("Enter hours to calculate :"))
dist = hours * 70
print(dist)

hours2=int(input("Enter hours to calculate :"))
dist = hours2 * 70
print(dist)

hours3 = int(input("Enter hours to calculate :"))
dist = hours3 * 70
print(dist)

Enter hours to calculate :23
1610
Enter hours to calculate :34
2380
Enter hours to calculate :21
1470

In [4]:
pur = int(input("Enter your amount of Purchase :"))
inst = int(input("Enter your number of instalments :"))
t_pur = pur + 0.05
print("Your total purchase amount is ",t_pur)
c1 = print("Your instalments will cost ",t_pur // inst," each")

Enter your amount of Purchase :230000
Enter your number of instalments :9
Your total purchase amount is  230000.05
Your instalments will cost  25555.0  each

In [1]:
miles = int(input("Enter no of miles :"))
gas = int(input("Enter number of gallons used :"))
m_gal = miles // gas
print(m_gal)

Enter no of miles :98
Enter number of gallons used :12
8

In [3]:
amount = float(input("Purchase of food: "))
tip = amount * 0.18
tax = amount * 0.07
print("Tip:",tip)
print("Tax:",tax)
t_amount = print("Total amount:",amount + tip + tax)

Purchase of food: 120.00
Tip: 21.599999999999998
Tax: 8.4
Total amount: 150.0

In [9]:
rad = int(input("Enter radius of circle:"))
area = int(3.142 * rad * rad)
circ = int(2 * 3.142 * rad)
print(area)
print(circ)

Enter radius of circle:23
1662
144

In [10]:
mal = int(input("Males:"))
fem = int(input("Females:"))
t_class = mal + fem
mal_p = (mal/t_class) * 100
fem_p = (fem / t_class) * 100
print("Percentage of males:",mal_p)
print("Percentage of females:",fem_p)

Males:7
Females:9
Percentage of males: 43.75
Percentage of females: 56.25

In [12]:
b_shares = 2000 * 40
br1_p = b_shares * 0.03
broker1 = b_shares + br1_p
s_shares = 2000 * 42.75
br2_p = s_shares * 0.03
broker2 = s_shares + br2_p
total_br = br1_p + br2_p
t_br = s_shares - total_br
print("The amount bought:",b_shares)
print("The amount given to the broker:",broker1)
print("The amount sold:",s_shares)
print("The amount given to the broker:",broker2)
print("The amount left for Joe",t_br)

The amount bought: 80000
The amount given to the broker: 82400.0
The amount sold: 85500.0
The amount given to the broker: 88065.0
The amount left for Joe 80535.0

In [3]:
print("PLEASE ENTER IN FEET")
row = int(input("Enter the length of row:"))
end = int(input("Enter amount of space used by an end-post assembly:"))
space = int(input("Enter the amount of space between the vines:"))
num = (row - (2 * end))/space
print("You need ",num,"of rows")

PLEASE ENTER IN FEET
Enter the length of row:98
Enter amount of space used by an end-post assembly:32
Enter the amount of space between the vines:12
You need  2.8333333333333335 of rows

In [5]:
p = int(input("Enter original principal:"))
r = int(input("Enter annual interest rate:"))
n = int(input("Enter number of times per year compounded:"))
t = int(input("Enter number of years:"))
t_amount = (p +((1 + r/n)**(n/t)))
print(t_amount)

Enter original principal:65000
Enter annual interest rate:3
Enter number of times per year compounded:4
Enter number of years:6
65001.45219643339