# PRACTICE CLASS

EXERCISE 1

In [3]:
def show_details():
    name="James"
    phoneno="08023567928"
    return name,phoneno
mainname,mainphoneno=show_details()
print(mainname,mainphoneno)

James 08023567928

EXERCISE 2

In [13]:
def sqrt():
    mainnumber()
    sqrt=mainnumber**2
    return mainnumber,sqrt
mainnumber,mainsqrt=sqrt()
number=int(input("Enter your number:"))
print(mainnumber,mainsqrt)

NameError: name 'mainnumber' is not defined

EXERCISE 3

In [74]:
import math
def sqrtno(a):
    y=math.sqrt(a)
    return y
z=int(input("enter your number:"))
sqrr=sqrtno(z)
print("The square root is",sqrr)

enter your number:9
The square root is 3.0

# LISTS AND TUPLES

EXERCISE 1

In [16]:
Kevwe_list=["God","Family","BTS","Hoddies","Coats","Wedges","Samsung","Bags","Food","CHOCOLATE"]
print(Kevwe_list)

['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE']

EXERCISE 2

In [32]:
words="i want to travel"
listwords=list(words)
print(listwords)

['i', ' ', 'w', 'a', 'n', 't', ' ', 't', 'o', ' ', 't', 'r', 'a', 'v', 'e', 'l']

In [34]:
words="i want to travel"
listwords=list(words)
for item in listwords:
    print(item)

i

w
a
n
t

t
o

t
r
a
v
e
l

In [33]:
words="i want to travel"
listwords=list(words)
for item in listwords:
    print(words)

i want to travel
i want to travel
i want to travel
i want to travel
i want to travel
i want to travel
i want to travel
i want to travel
i want to travel
i want to travel
i want to travel
i want to travel
i want to travel
i want to travel
i want to travel
i want to travel

In [35]:
name_list=["Olu","Ade","Bala","Ayo","Tayo","Ada","Uche","Musa","Obi","Mike"]
name=input("Enter your name:")
if name in name_list:
    print("USER FOUND\n",name)
else:
    print("USER NOT FOUND")

Enter your name:Ada
USER FOUND
 Ada

In [36]:
name_list[-1]

'Mike'

In [37]:
name_list[0]

'Olu'

In [38]:
name_list[-2]

'Obi'

In [40]:
name_list[-10]

'Olu'

EXERCISE 3

In [43]:
name_list[0]="Anthonia"
print(name_list)

['Anthonia', 'Ade', 'Bala', 'Ayo', 'Tayo', 'Ada', 'Uche', 'Musa', 'Obi', 'Mike']

In [44]:
name_list[7]="Anthonia"
print(name_list)

['Anthonia', 'Ade', 'Bala', 'Ayo', 'Tayo', 'Ada', 'Uche', 'Anthonia', 'Obi', 'Mike']

In [45]:
name_list[-1]="Mr Azu"
print(name_list)

['Anthonia', 'Ade', 'Bala', 'Ayo', 'Tayo', 'Ada', 'Uche', 'Anthonia', 'Obi', 'Mr Azu']

CONCATENTATION

In [53]:
Our_list=Kevwe_list + name_list
print(Our_list)

['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE', 'Anthonia', 'Ade', 'Bala', 'Ayo', 'Tayo', 'Ada', 'Uche', 'Anthonia', 'Obi', 'Mr Azu']

In [49]:
child_list=["Baby","Toys","Blanket","Diapers"]
the_list=Our_list + child_list
print(the_list)

['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE', 'Anthonia', 'Ade', 'Bala', 'Ayo', 'Tayo', 'Ada', 'Uche', 'Anthonia', 'Obi', 'Mr Azu', 'Baby', 'Toys', 'Blanket', 'Diapers']

LIST SLICING

In [54]:
print(Kevwe_list[0:7])

['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung']

In [55]:
print(Kevwe_list[0:])

['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE']

In [56]:
print(Kevwe_list[:5])

['God', 'Family', 'BTS', 'Hoddies', 'Coats']

In [62]:
print(Kevwe_list[4:6])

['Coats', 'Wedges']

APPEND(Item)function

In [65]:
Our_list.append(7)
print(Our_list)

['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE', 'Anthonia', 'Ade', 'Bala', 'Ayo', 'Tayo', 'Ada', 'Uche', 'Anthonia', 'Obi', 'Mr Azu', 7, [7], 7]

In [66]:
Our_list.append([7])
print(Our_list)

['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE', 'Anthonia', 'Ade', 'Bala', 'Ayo', 'Tayo', 'Ada', 'Uche', 'Anthonia', 'Obi', 'Mr Azu', 7, [7], 7, [7]]

In [67]:
name=input("Enter a name:")
Kevwe_list.append(name)
print(Kevwe_list)

Enter a name:ARMY
['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE', 'ARMY']

In [68]:
for i in range(5):
    i=input("Enter a name:")
    Kevwe_list.append(i)
    print(Kevwe_list)

Enter a name:Korea
['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE', 'ARMY', 'Korea']
Enter a name:Seoul
['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE', 'ARMY', 'Korea', 'Seoul']
Enter a name:Concert
['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE', 'ARMY', 'Korea', 'Seoul', 'Concert']
Enter a name:Fansign
['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE', 'ARMY', 'Korea', 'Seoul', 'Concert', 'Fansign']
Enter a name:Army bomb
['God', 'Family', 'BTS', 'Hoddies', 'Coats', 'Wedges', 'Samsung', 'Bags', 'Food', 'CHOCOLATE', 'ARMY', 'Korea', 'Seoul', 'Concert', 'Fansign', 'Army bomb']

FINDING THE INDEX ITEM IN A LIST

In [72]:
name=input("Enter a name:")
Kevwe_list.index("Wedges")

Enter a name:Wedges

5

In [78]:
name_list.insert(1,"Keyamo")

In [79]:
print(name_list)

['Anthonia', 'Keyamo', 'Keyamo', 'Ade', 'Bala', 'Ayo', 'Tayo', 'Ada', 'Uche', 'Anthonia', 'Obi', 'Mr Azu']

In [81]:
name=input("Enter a name:")
name_list.remove("Keyamo")

Enter a name:Keyamo

In [82]:
print(name_list)

['Anthonia', 'Keyamo', 'Ade', 'Bala', 'Ayo', 'Tayo', 'Ada', 'Uche', 'Anthonia', 'Obi', 'Mr Azu']

In [ ]:
name=input("Enter a name:")
name_list.remove("Anthonia")

Enter a name:Anthonia

In [2]:
print(name_list)

NameError: name 'name_list' is not defined